<!-- add_form_page.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Prenda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main_menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div id="main-content">
    <h2>Añadir Prenda</h2>
    <form action="/add_form" method="post">
        <label for="nombre">Nombre de la prenda:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        
        <label for="tipo">Tipo de prenda:</label>
        <input type="text" id="tipo" name="tipo" required><br>
        
        <!-- Agrega más campos según tus necesidades -->
        <label for="color">Color de la prenda:</label>
        <input type="text" id="color" name="color" required><br>

        <label for="talla">Talla de la prenda:</label>
        <input type="text" id="talla" name="talla" required><br>

        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required><br>
        
        <input type="submit" value="Guardar">
    </form>
</div>

</body>
</html>