<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 align="center">Smart Wardrobe</h1>
        <div id="login_text">
            <p>Welcome Back</p>
        </div>
        <div>
            <form method="post" action="/login">
                <input type="text" id="campoDatos1" name="campoDatos1" class="campoDatosEstilo" placeholder="Email" required><br>
                <input type="text" id="campoDatos2" name="campoDatos2" class="campoDatosEstilo" placeholder="Password" required><br>
                <input type="submit" class="sign_in-button" value="SIGN IN">
            </form>
        </div>
        <div class="count-container">
            <p id="counter">0</p>
        </div>
        <div class="buttons">
            <button class="sn_icon-button" onclick="sendCategory('Camisetas')"><i class="fab fa-facebook"></i> </button>
            <button class="sn_icon-button" onclick="sendCategory('Calcetines')"><i class="fab fa-google"></i> </button>
            <button class="sn_icon-button" onclick="sendCategory('Sombreros')"><i class="fab fa-windows"></i> </button>
            <!-- Agrega más botones con iconos según las categorías de ropa -->
        </div>
    </div>
    <script>
        function sendCategory(category) {
            fetch('/category', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ category: category }),
            });
            // Actualizar el contador en el sitio web
            updateCounter();
        }

         async function updateCounter() {
            const response = await fetch('/get_count');
            const data = await response.json();
            document.getElementById('counter').innerText = data.count;
        }

        function redirectToAnotherPage() {
            window.location.href = "main_menu.html";
        }
    </script>
</body>
</html>
