<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main_menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div id="sidebar-main_menu">
    <a href="#"><i class="fas fa-home"></i> Home</a>
    <a href="#"><i class="fas fa-paint-brush"></i> Create</a>
    <a href="#"><i class="fas fa-shirt"></i> Wardrobe</a>
    <a href="{{ url_for('add_form_page') }}"><i class="fas fa-plus"></i> Add</a>
</div>

<div id="main-content">
    <h2>Contenido Principal</h2>
    <p>Este es el contenido principal de la página. Puedes agregar más contenido aquí.</p>
</div>

</body>
</html>
