body {
    font-family: Arial, sans-serif;
    background-color: #393D3F;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    //padding: 20px;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#login_text {
    color: #000; /* Color negro */
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3rem;
}

.campoDatosEstilo {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    padding: 10px; /* Espaciado interno para mejorar la apariencia */
    margin: 10px 0; /* Margen superior e inferior para separar del contenido anterior y posterior */
    border: 1px solid #ccc; /* Borde para un aspecto más definido */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total del campo */
}

.sign_in-button {
    display: flex; /* Hace que el botón sea un bloque para centrarlo */
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 10px 40px; /* Añade relleno para un aspecto más agradable */
    border-radius: 20px; /* Hace que el botón sea redondeado */
    background-color: #62929E; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none; /* Quita el borde para un aspecto más limpio */
}

.sign_in-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sign_in-button:active {
    transform: scale(0.95);
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sn_icon-button {
    /*padding: 10px;
    font-size: 16px;
    cursor: pointer;*/
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border: none;
    color: #62929E; /* Ajusta el color del texto según el contraste con la imagen */
    font-size: 24px; /* Ajusta el tamaño del texto */
}

.sn_icon-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sn_icon-button:active {
    transform: scale(0.95);
}
